<form method="post" action="{{ path('monture_delete', {'id': monture.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette monture?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ monture.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
